﻿@model IEnumerable<Client.Models.Notifications.NotificationViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" align="center">
    <h2>Notifications</h2>
    @if (Model.Any())
    {
        <div class="col-lg-12">
            @foreach (var notification in Model)
            {
                @Html.Partial("NotificationPartial", notification)
            }
            @using (Html.BeginForm("DismissAll", "Notifications", FormMethod.Post))
            {
                <button type="submit" class="btn btn-warning">Dismiss all</button>
            }
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <h4>You do not have any notification.</h4>
        </div>
    }
</div>