﻿@model Client.Models.Notifications.NotificationViewModel
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Notification from <strong>@Model.UserName</strong> at <strong>@Model.Date</strong></h3>
    </div>
    <div class="panel-body">
        <h2 class="">@Model.Content</h2>
        @using (Html.BeginForm("Dismiss", "Notifications", FormMethod.Post))
        {
            <input type="hidden" value="@Model.Id" name="Id"/>
            <button type="submit" class="btn btn-success">Dismiss</button>
        }
    </div>
</div>