﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" align="center">
    <h1>Welcome to Airlines!</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>In order to start using our services, please, login or register</p>
        <a class="btn btn-primary btn-lg" href="/Account/Login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/Account/Register" role="button">Register</a>
    }
    else
    {
        <p>Subscribe to new clients to receive notification about their updates!</p>
        <a class="btn btn-primary btn-lg" href="/Subscriptions/Index" role="button">My Clients</a>
    }
</div>