﻿@model Client.Models.Tickets.TicketViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add ticket</h2>
<form class="form-horizontal" action="Create" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="form-group">
        <label class="control-label col-sm-2" for="from">From:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="From" id="from" placeholder="Enter the start point">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="to">To:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="To" id="to" placeholder="Enter the end point">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="departure">Depart at:</label>
        <div class="col-sm-10">
            <input type="datetime" class="form-control" name="DepartureDate" id="departure" placeholder="Departure date">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="arrival">Arrives at:</label>
        <div class="col-sm-10">
            <input type="datetime" class="form-control" name="ArrivalDate" id="arrival" placeholder="Arrival date">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="class">Service class:</label>
        <div class="col-sm-10">
            <select class="form-control" name="ServiceClass" id="class">
                <option>Business</option>
                <option>Economy</option>
                <option>First</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </div>
</form>