﻿@model IEnumerable<Client.Models.Tickets.TicketViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" align="center">
    <h2>Available Tickets</h2>
    @if (Model.Any())
    {
        foreach (var ticket in Model)
        {
            @Html.Partial("TicketPartial", ticket)
        }
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <h4>Tickets are not available.</h4>
        </div>
    }

    @using (Html.BeginForm("Create", "Ticket", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary">Add new ticket</button>
    }
</div>
