﻿@model Client.Models.Tickets.TicketViewModel
<div class="panel panel-info">
    <div class="panel-body">
        <p><text>From: <strong>@Model.From</strong></text></p>
        <p><text>To: <strong>@Model.To</strong></text></p>
        <p><text>Departure date: <strong>@Model.DepartureDate</strong></text></p>
        <p><text>Arrival date: <strong>@Model.ArrivalDate</strong></text></p>
        <p><text>Service class: <strong>@Model.ServiceClass</strong></text></p>
    </div>
</div>