﻿@model IEnumerable<Client.Models.Subscriptions.SubscriptionViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" align="center">
    <h2>My Clients</h2>
    @if (Model.Any())
    {
        foreach (var subscription in Model)
        {
            @Html.Partial("SubscriptionPartial", subscription)
        }
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <h4>You do not have any clients yet.</h4>
        </div>
    }

    @using (Html.BeginForm("Redirect", "Subscriptions"))
    {
        <button type="submit" class="btn btn-primary">Subscribe to new client</button>
    }
</div>