﻿@model Client.Models.Subscriptions.SubscriptionViewModel
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/profile.png" width="100" height="100"/>
            </div>
            <div class="col-md-9">
                <h3>User name: <strong>@Model.PublisherUserName</strong></h3>
                <h3>Service class: <strong>@Model.PublisherServiceClass</strong></h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm("Unsubscribe", "Subscriptions", FormMethod.Post))
                    {
                        <input type="hidden" value="@Model.PublisherUserName" name="PublisherUserName"/>
                        <button type="submit" class="btn btn-danger">Unsubscribe</button>
                    }
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("TicketsForClient", "Ticket", FormMethod.Get))
                    {
                        <input type="hidden" value="@Model.PublisherServiceClass" name="serviceClass"/>
                        <button type="submit" class="btn btn-success">Show tickets</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>