﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Client</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="~/Content/Images/logo.png" width="25" height="25">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Airlines", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subscribes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Subscriptions/Index">My Clients</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/Ticket/Index">Tickets</a></li>
                    <li>
                        <a href="/Notifications/Index">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            @if (ViewBag.NotificationCount != 0)
                            {
                                <span style="margin-left: 5px" class="label label-success">@ViewBag.NotificationCount</span>
                            }
                        </a>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("LoginPartial")
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Airlines</p>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>