﻿@if (User.Identity.IsAuthenticated)
{
    <li>
        <a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
    </li>
}
else
{
    <li>
        <a href="/Account/Login"><span class="glyphicon glyphicon-user"></span> Login</a>
    </li>
    <li>
        <a href="/Account/Register"><span class="glyphicon glyphicon-log-in"></span> Register</a>
    </li>
}